.vs
Hotel.Api/bin
Hotel.Api/obj
Hotel.Application/bin
Hotel.Application/obj
Hotel.Domain/bin
Hotel.Domain/obj
Hotel.Persistence/bin
Hotel.Persistence/obj
Teste/bin
Teste/obj
UI/**/*.html
UI/node_modules/
UI/dist
